@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(226, 135, 45);
  z-index: 1000000000000000;
}

.Orbitron-font {
  font-family: "Orbitron", sans-serif;
}
.Josefin-Sans {
  font-family: "Josefin Sans", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
